include LICENSE
include README.md
recursive-include src/arcos_gui *.ui *.png *.jpeg *.jpg *.svg
recursive-include src/arcos_gui *.csv

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude src/arcos_gui/_tests *
